{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="container-md">
        <h4>Page listing</h4>
		<ul>
            <li><a href="{{ path('app_product_index') }}" class="btn btn-light">Products</a></li>
            <li><a href="{{ path('app_about_us') }}" class="btn btn-light">About Us</a></li>
        </ul>
        <div class="col-9">
			<div class="container">
				<h4>Product Listing</h4>
				<div class="row row-cols-1 row-cols-md-4 g-4">
					{% for product in products %}
						<div class="col">
							<div class="card h-100">
								<img src=" {{ asset('images/product/' ~ product.imgurl) }}" class="card-img-top" alt="Not Found">
								<div class="card-body">
									<h5 class="card-title">{{ product.Name }}</h5>
									<h6 class="card-subtitle">Category:
										{{ product.category.Name }}</h6>
									<p>Price:
										{{ product.price }}</p>
								</div>
								<div class="card-footer">
									<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Show</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
        </div>   
    </div>
{% endblock %}